echo "Running first init on {{ .chezmoi.os }}"

echo "Installing Dependencies"
{{- if eq .chezmoi.os "darwin" }}
if ! command -v brew >/dev/null 2>&1; then
  echo " -> Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo " -> Installing coreutils"
brew install coreutils

packages=(tmux fzf nvim kubectl zplug fd bat)
for package in "${packages[@]}"; do
  if ! command -v "$package" >/dev/null; then
    brew install "$package"
  fi
done
{{- end }}

{{- if eq .chezmoi.os "linux" }}
echo "Linux depedencies are unmanaged by chezmoi dotfiles right now."
{{- end }}
